* {
	margin: 0;
	padding: 0;
	font-family: "futura", "montserrat", "roboto condensed",sans-serif;
}

body {
	display: grid;
	grid-template: 80px .5fr .5fr 60px / repeat(12, 1fr);
	grid-gap: 1em;
}

header {
	grid-row: 1 / 2;
	grid-column: 1 / span 12;
	background-color: #009933;
	display: flex;
}

main {
	grid-row: 2 / 3;
	grid-column: 1 / span 12;
	display: flex;
	justify-content: space-between;
	padding-bottom: 1em;
	height: 100%;
	margin-top: -1em
}

article {
	grid-row: 3 / 4;
	grid-column: 2 / span 10;
	padding: 0 1em;
}

footer {
	grid-row: 4 / 5;
	grid-column: 1 / span 12;
	display: flex;
	justify-content: center;
}

h1 {
	color: #fff;
	padding-left: .5em;
	padding-top: .25em;
}

h3 {
	color: #009933;
	padding-bottom: .5em;
}

header div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

header img {
	max-width: 65px;
	background-color: #fff;
	border-radius: 2.5em;
	object-fit: scale-down;
	margin-top: 7px;
	margin-right: .5em;
}

header a {
	text-decoration: none;
	display: block;
}

section {
	height: 400px;
	width: 33vw;
}

section img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

section h2 {
	display: none;
	position: absolute;
 	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
	color: #009933;
	font-size: 3em;
}

section a:hover > img {
	opacity: 0.3;
}

section a:hover > h2 {
	display: block;
}

#restaurant, #greenhouse, #events {
	position: relative;
	text-align: center;
}

footer {
	display: flex;
}

footer a {
	color: #009933;
	text-decoration: none;
	display: block;
	margin: 0 1em;
}