* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0 20% 0;	
	font-family: futura, Arial, Lato, Oxygen;
	text-align: justify;
}

h1, h2, h3 {
	color: #2272ff;
	padding: .5em 0 .5em;
}

header img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	/*object-position: 0px -260px;*/
	object-position: 0% 80%
}

main ul {
	padding: .5em 0 .5em 1.25em;
}

main p {
	padding: .5em 0 .5em;
}

aside {
	float: right;
	padding: 1em;
}

footer p {
	font-size: .75em;
}

footer a {
	font-style: italic;
}

#left_column {
	width: 500px;
	text-align: left;
}