#restaurant, #greenhouse {
	width: 100vw;
}

article {
	grid-row: 3 / 4;
	grid-column: 1 / span 12;
	padding: 0 1em;
	display: grid;
	justify-items: center;
	justify-content: center;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	grid-gap: 1em;
	margin-bottom: 1em;
}

article section {
	position: relative;
	text-align: center;
}

article section img {
	max-width: 100%;
	max-height: 50vh;
}
